#adminmenu .toplevel_page_cointent .wp-menu-image img {
	padding: 4px 0 0 4px;
}
#adminmenu .current.toplevel_page_cointent .wp-menu-image img {
	padding: 4px 0 0 4px;
	opacity: 1;
}
#cointent-admin {
	margin-right: 20px;
}

#cointent-admin table {
	border-spacing: 0;
	width:100%;
}
#cointent-admin table.cointent_main_table > tbody > tr > td:first-child {
	width:300px;
	padding-right:30px;
	border-right:1px solid #e6e6e6;
}
#cointent-admin td {
	vertical-align: top;
	padding:10px 20px;
}


#cointent-admin table.cointent_main_table > tbody > tr:nth-child(2n) {
	background-color: white;
}
#cointent-admin table.cointent_main_table > tbody > tr:nth-child(2n+1) {
	background-color: #F7F7F7;
}
#cointent-admin tr {
	border-top:1px solid #4B4B4B;
}
#cointent-admin tr:first-child {
	border-top:0;
}
#cointent-admin h4 {

	margin:0;
	font-size: 14px;
}
#cointent-admin ul {

	margin:0;
	padding:0;
}
#cointent-admin .bold {
	font-weight: bold;
}
#cointent-admin .intro_box {
	background-color: #FFF1D2;
	padding:10px;
	border: 2px solid rgb(238, 181, 112);
	min-width:400px;
}
#cointent-admin .intro_box .header{
	vertical-align: baseline;
	font-size: 23px;
	padding-top: 10px;
}
#cointent-admin .intro_box .header * {
	vertical-align: bottom;
	display:inline-block;
}
#cointent-admin .intro_box .header img {
	height: 30px;
	margin: 0 0  -6px 6px;
}

#cointent-admin .intro_box h2 {

}
#cointent-admin .cointent_step_box h3 {
	padding: 40px 0 20px;
	font-size: 23px;
	color: rgb(30,95,100);
	font-weight: 300;
}
#cointent-admin .cointent_step_box {
	display: inline-block;
	width: 31%;
	box-sizing: border-box;
	border: 1px solid #EADAB6;
	background-color: white;
	padding: 10px;
	vertical-align: top;
	margin: 1%;
	box-shadow: inset 0 0 2px rgba(242, 237, 225, 1);
	min-height:175px;
}
#cointent-admin .cointent_step_box div {
	float:right;
}
#cointent-admin .cointent_step_box > p {
	margin:0;
}